/*
    colors
    #101e27
*/
body{
    padding: 0px;
    margin: 0px;
}
.nav-section{
    background-color: #214f64;
    display: flex;
    justify-content: space-between;
}


.container{
    background-color: darkcyan;
    display: flex;
    justify-content: space-around;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}


.container-column{
    background-color: black;
    color: #FFFFFF;
    columns: 4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    size: 20px;
}